<form>
    <div class="form-group">
        <label for="SellerName">Seller Name: </label>
        <input type="text" class="form-control" id="seller_name" placeholder="Enter Your name">
    </div>
    <div class="form-group">
        <label for="SellerMobileNo">Seller Mobile no: </label>
        <input type="text" class="form-control" id="seller_mobile_no" placeholder="Enter Your phone no.">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="seller_email_id" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="Address">Seller Address</label>
        <textarea class="form-control" id="seller_address" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
